*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    outline: 0;
}

.section-1 {
    padding: 20px 200px;
}
.section-2 {
    padding: 20px 250px;
}
.btn {
    padding: 1rem 1.3rem;
    border-radius: 3px;
    background: var(--color-danger);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: .5s ease;
}
.btn:hover {
    background: transparent;
    border: 2px solid var(--color-danger);
}
.btn-primary {
    background: var(--color-white);
    color: var(--color-black);
}
.btn-primary:hover {
    background: var(--color-danger);
    color: var(--color-white);
    border: 2px solid transparent;
}

:root {
    --color-primary:#6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(249,88,66,0.4);
    --color-white:#fff;
    --color-light:rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;
}

#header {
    width: 100%;
    height: 8vh;
    z-index: 9;
    position: fixed;
}
.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 10px 20px rgba(0, 0, 0 ,0.3);
}
#header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#header .menu button {
    display: none;
}
#header .menu ul {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}
#header .menu .logo {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--color-white);
    text-transform: uppercase;
}
#header .menu ul a {
    color: var(--color-white);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: .5s ease;
}
#header .menu ul a:hover {
    color: var(--color-primary);
}

/*====================== home ======================*/

#home {
    width: 100%;
    height: 80vh;
    background: var(--color-bg);
    color: var(--color-white);
    position: relative;
}
#home .home-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 5rem;
    align-items: center;
    height: 100%;
    width: 100%;
}
#home .home-content .right img {
    width: 400px;
    position: absolute;
    right: 10rem;
    bottom: 0;
}
#home .home-content .left {
    width: 70%;
}

#home .home-content .left h1 {
    font-size: 46px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
#home .home-content .left p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: 80%;
    margin: 1rem 0 2rem ;
}

/*=================== about ==================*/

#about {
    width: 100%;
    height: 50vh;
    background: var(--color-bg1);
    color:var(--color-white);
}
#about .about-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
    align-items: center;
}
#about .about-content .left {
    width: 80%;
    height: 70%;
}
#about .about-content .left h1 {
    font-size: 46px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 2rem ;
}
#about .about-content .left P {
    font-size:16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 2rem ;
    opacity: 70%;
}
#about .about-content .right .navbars {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    color: var(--color-white);
    margin-top: 7rem;
    margin-right: 5rem;
}
#about .about-content .right .navbars .nav {
    padding: 20px;
    background: var(--color-bg2);
    border-radius: 20px;
    transition: .5s ease;
    cursor: pointer;
}
#about .about-content .right .navbars .nav:hover {
    box-shadow: 0 5rem 5rem rgba(0, 0, 0 ,0.3);
}
#about .about-content .right .navbars .nav i {
    font-size: 21px;
    font-weight: 500;
    margin: 1rem 0;
    padding: 10px;
    border-radius: 15px;
    align-items: flex-start;
    transition: .5s ease;
}
#about .about-content .right .navbars .nav:nth-child(1) i {
    background: var(--color-primary);
}
#about .about-content .right .navbars .nav:hover:nth-child(1) i,
#about .about-content .right .navbars .nav:hover:nth-child(2) i,
#about .about-content .right .navbars .nav:hover:nth-child(3) i,
#about .about-content .right .navbars .nav:hover:nth-child(4) i,
#about .about-content .right .navbars .nav:hover:nth-child(5) i,
#about .about-content .right .navbars .nav:hover:nth-child(6) i {
    opacity: 70%;
}
#about .about-content .right .navbars .nav:nth-child(2) i {
    background: var(--color-danger);
}
#about .about-content .right .navbars .nav:nth-child(3) i {
    background: var(--color-success);
}
#about .about-content .right .navbars .nav:nth-child(4) i {
    background: var(--color-warning);
}
#about .about-content .right .navbars .nav:nth-child(5) i {
    background: var(--color-success);
}
#about .about-content .right .navbars .nav:nth-child(6) i {
    background: var(--color-primary);
}
#about .about-content .right .navbars .nav h1 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin:0 0 1rem 0;
}
#about .about-content .right .navbars .nav p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.3rem;
    opacity: 70%;
}

/*========================== courses =========================*/

#courser {
    width: 100%;
    height: auto;
    background: var(--color-bg);
    color: var(--color-white);
}
#courser .titles  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1px;
}
#courser .courser-content{
    gap: 2rem;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
}
#courser .courser-content .content img {
    width: 100%;
}
#courser .courser-content .content {
    background: var(--color-bg1);
    border-radius: 5px;
    border: 3px solid var(--color-bg1);
    cursor: pointer;
    transition: .5s ease;
}
#courser .courser-content .content:hover  {
    background: transparent;
    border: 3px solid var(--color-bg1);
}
#courser .courser-content .content .title {
    padding: 0 20px;
}
#courser .courser-content .content .title h1 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    margin: 1rem 0;
}
#courser .courser-content .content .title p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    margin: 1rem 0;
    opacity: 70%;
}
#courser .courser-content .content .title .btns  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

/*========================== navbart================== */

#navbar {
    background: var(--color-bg);
    width: 100%;
    height: auto;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0 ,0.5);
    color: var(--color-white);
    
}
#navbar .title-navbar  {
    display: flex;
    justify-content: center;
    margin: 6rem 0 4rem 0 ;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 1px;
}
#navbar .navs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    align-items: flex-start;
    margin: 5rem 0;
}
#navbar .nav {
    background: var(--color-primary);
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}
#navbar .navs .nav p {
    display: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.3rem;
    padding: 20px;
}
#navbar .navs .nav.active p {
    display: block;
}
#navbar .nav .title  {
    display: flex;
    align-items: center;
    cursor: pointer;
    align-items: flex-start;
    margin-top: 1.3rem;
}
#navbar .nav  h1 {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}
#navbar .nav .title i {
    font-size: 22px;
    font-weight: 400;
}